# Application

NODE_ENV=development
PORT=3000

# PostgreSQL

DB_HOST=localhost
DB_PORT=5432
DB_NAME=appointment_db
DB_USER=postgres
DB_PASSWORD=postgres

# Clinic

CLINIC_TIMEZONE=America/Sao_Paulo

# Nager.Date

HOLLIDAY_API_URL=https://date.nager.at/api/v3
